* {
  font-family: "Lato";
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  font-family: "Raleway";
}

.social-icons .fa {
  padding: 10px 14px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.social-icons .fa:hover {
  color: #fff !important;
}
.social-icons .fa {
  padding: 10px 12px;
  color: #b90000;
}
.fa-twitter:hover {
  background-color: #00aced;
}
.fa-youtube:hover {
  background-color: #e64a41;
}
.fa-linkedin:hover {
  background-color: #0073a4;
}

/**
 * COMMENTS
 */

.comment-form input,
.comment-form textarea {
  height: 2em;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 0.5em;
  margin-bottom: 15px;
}

.comment-form input:focus,
.comment-form textarea:focus {
  outline: #ffb4b4 auto 3px;
}
/* .comments h2,
.comments h3,
.comments p {
  color: #fff;
} */
